{% extends "base.html" %}

{% load account_tags %}
{% load i18n %}
{% load filters %}

{% block head %}<title>Установка нового пароля</title>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                <legend>Установка нового пароля</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form}}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}