{% extends "base.html" %}

{% load account_tags %}
{% load i18n %}
{% load filters %}

{% block head %}<title>Сброс пароля</title>{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
    <div class="row">
        <div  class="col-md-8">
            <form method="POST" action="">
                <legend>Сброс пароля.</legend>
                <p class="lead">Забыли пароль? Введите свой email, и мы вышлем вам на почту письмо для сброса пароля.</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary">
                            Сбросить пароль
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <p>Если у вас проблемы с восстановлением пароля напишите по адресу <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.</p>
{% endblock %}