{% extends "base.html" %}

{% load account_tags %}
{% load i18n %}
{% load filters %}

{% block body_class %}account account-password{% endblock %}

{% block head %}<title>Смена пароля</title>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="">
                <legend>Смена пароля</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.old_password.errors }}
                        <label for="{{ form.old_password.id_for_label }}">Старый пароль:</label>
                        {{ form.old_password|addclass:"form-control"}}
                    </div>
                    <div class="form-group">
                        {{ form.new_password1.errors }}
                        <label for="{{ form.new_password1.id_for_label }}">Новый пароль:</label>
                        {{ form.new_password1|addclass:"form-control"}}
                    </div>
                    <div class="form-group">
                        {{ form.new_password2.errors }}
                        <label for="{{ form.new_password2.id_for_label }}">Новый пароль (ещё раз):</label>
                        {{ form.new_password2|addclass:"form-control"}}
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}