{% extends "base.html" %}

{% load account_tags %}
{% load i18n %}
{% load filters %}

{% block head %}<title>Сброс пароля.</title>{% endblock %}

{% block content %}
    <h1>Сброс пароля.</h1>
    {% if not resend %}
        <p>Письмо для сброса пароля выслано, если вам оно не пришло в течение нескольких минут, то напишите по адресу <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.</p>

        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary">Отправить ещё раз</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>Письмо для сброса пароля выслано, если вам оно не пришло в течение нескольких минут, то напишите по адресу <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.</p>
    {% endif %}
{% endblock %}
