{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block head %}
<script>
$(document).ready(function() {
    $("#nav_about").attr("class", "active");
});
</script>
{% endblock %}

{% block content %}
<a name="about"></a>
<h1>
    Shop name
</h1>
<div class="row">
    <h3>О Магазине</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id velit vitae velit tempus dictum. Donec condimentum non quam a sagittis. Nulla efficitur magna felis, nec tempus purus venenatis ultrices. Cras condimentum tincidunt sem in commodo. Duis venenatis sapien ac odio posuere lacinia. Etiam sed elit feugiat, ornare ipsum vitae, elementum lectus. Proin eleifend nec orci ut vestibulum. Curabitur viverra mi velit, id convallis ipsum viverra non. Fusce ut egestas purus. Curabitur dolor magna, vehicula eu urna eu, faucibus vehicula erat.
    </p>
    <p>
    Aliquam sagittis congue tincidunt. Mauris gravida sem vitae ex facilisis feugiat. Curabitur tempus faucibus arcu eu luctus. Quisque condimentum iaculis tortor, id semper neque tincidunt vitae. Nam sed mattis magna, eu maximus tortor. Praesent ligula nulla, cursus vitae facilisis eu, laoreet eget sapien. Integer et laoreet justo. Integer sit amet massa sed nunc vulputate hendrerit. Morbi malesuada, augue eu cursus sagittis, justo mi iaculis justo, a laoreet felis ipsum ac neque. Curabitur auctor, lacus vitae tempus gravida, tortor nulla pretium nisl, sit amet fringilla enim ante et dui. Nulla tincidunt auctor egestas. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae suscipit dui, nec tristique est. Pellentesque at urna tellus.
    </p>
    <p>
    Curabitur interdum faucibus nibh sit amet semper. Duis pharetra lacinia dui sit amet pellentesque. Praesent dui justo, pulvinar ac ante mattis, rhoncus lobortis dui. Vivamus in lectus at elit eleifend tristique sed eget dui. Etiam eu viverra nunc. Donec a fermentum mauris. Mauris in ullamcorper arcu. Donec sit amet rhoncus lorem. Nulla fermentum lorem ac massa posuere venenatis. Nam imperdiet posuere velit, sed facilisis lacus imperdiet ut. Nulla sit amet urna quis leo efficitur lobortis ac eu diam. Ut a elementum orci. Suspendisse tempor vitae massa in imperdiet. Sed ullamcorper tellus ut feugiat finibus.
    </p>
    <p>
    Cras ut ligula ut dolor sollicitudin convallis non et arcu. Aliquam erat volutpat. Nunc tempor sagittis tincidunt. Pellentesque in nibh ex. Nulla sed justo nisi. Donec consequat molestie nulla et euismod. Mauris auctor dapibus congue.
    </p>
    <p>
    Suspendisse neque felis, ullamcorper sed ligula at, tempus commodo enim. Ut suscipit, sapien eget dapibus elementum, magna elit pretium turpis, vel sagittis nibh turpis congue mi. Vestibulum pretium venenatis nulla, a pellentesque enim lacinia ut. Nunc id dignissim erat. Ut eget odio euismod nisl posuere consequat a at turpis. Etiam sed enim at ex molestie molestie. Proin molestie consequat orci, in vehicula dui vulputate vitae. Suspendisse accumsan sagittis nulla ac porttitor. Nulla eget pharetra erat. Cras ipsum tellus, pretium ac sem sit amet, efficitur faucibus turpis. Pellentesque faucibus ipsum arcu. Etiam aliquet lacinia felis ac ultricies.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id velit vitae velit tempus dictum. Donec condimentum non quam a sagittis. Nulla efficitur magna felis, nec tempus purus venenatis ultrices. Cras condimentum tincidunt sem in commodo. Duis venenatis sapien ac odio posuere lacinia. Etiam sed elit feugiat, ornare ipsum vitae, elementum lectus. Proin eleifend nec orci ut vestibulum. Curabitur viverra mi velit, id convallis ipsum viverra non. Fusce ut egestas purus. Curabitur dolor magna, vehicula eu urna eu, faucibus vehicula erat.
    </p>
    <p>
    Aliquam sagittis congue tincidunt. Mauris gravida sem vitae ex facilisis feugiat. Curabitur tempus faucibus arcu eu luctus. Quisque condimentum iaculis tortor, id semper neque tincidunt vitae. Nam sed mattis magna, eu maximus tortor. Praesent ligula nulla, cursus vitae facilisis eu, laoreet eget sapien. Integer et laoreet justo. Integer sit amet massa sed nunc vulputate hendrerit. Morbi malesuada, augue eu cursus sagittis, justo mi iaculis justo, a laoreet felis ipsum ac neque. Curabitur auctor, lacus vitae tempus gravida, tortor nulla pretium nisl, sit amet fringilla enim ante et dui. Nulla tincidunt auctor egestas. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae suscipit dui, nec tristique est. Pellentesque at urna tellus.
    </p>
    <p>
    Curabitur interdum faucibus nibh sit amet semper. Duis pharetra lacinia dui sit amet pellentesque. Praesent dui justo, pulvinar ac ante mattis, rhoncus lobortis dui. Vivamus in lectus at elit eleifend tristique sed eget dui. Etiam eu viverra nunc. Donec a fermentum mauris. Mauris in ullamcorper arcu. Donec sit amet rhoncus lorem. Nulla fermentum lorem ac massa posuere venenatis. Nam imperdiet posuere velit, sed facilisis lacus imperdiet ut. Nulla sit amet urna quis leo efficitur lobortis ac eu diam. Ut a elementum orci. Suspendisse tempor vitae massa in imperdiet. Sed ullamcorper tellus ut feugiat finibus.
    </p>
    <p>
    Cras ut ligula ut dolor sollicitudin convallis non et arcu. Aliquam erat volutpat. Nunc tempor sagittis tincidunt. Pellentesque in nibh ex. Nulla sed justo nisi. Donec consequat molestie nulla et euismod. Mauris auctor dapibus congue.
    </p>
    <p>
    Suspendisse neque felis, ullamcorper sed ligula at, tempus commodo enim. Ut suscipit, sapien eget dapibus elementum, magna elit pretium turpis, vel sagittis nibh turpis congue mi. Vestibulum pretium venenatis nulla, a pellentesque enim lacinia ut. Nunc id dignissim erat. Ut eget odio euismod nisl posuere consequat a at turpis. Etiam sed enim at ex molestie molestie. Proin molestie consequat orci, in vehicula dui vulputate vitae. Suspendisse accumsan sagittis nulla ac porttitor. Nulla eget pharetra erat. Cras ipsum tellus, pretium ac sem sit amet, efficitur faucibus turpis. Pellentesque faucibus ipsum arcu. Etiam aliquet lacinia felis ac ultricies.
    </p>
    <a name="contacts"></a>
    <h3>Контакты</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id velit vitae velit tempus dictum. Donec condimentum non quam a sagittis. Nulla efficitur magna felis, nec tempus purus venenatis ultrices. Cras condimentum tincidunt sem in commodo. Duis venenatis sapien ac odio posuere lacinia. Etiam sed elit feugiat, ornare ipsum vitae, elementum lectus. Proin eleifend nec orci ut vestibulum. Curabitur viverra mi velit, id convallis ipsum viverra non. Fusce ut egestas purus. Curabitur dolor magna, vehicula eu urna eu, faucibus vehicula erat.
    </p>
    <p>
    Aliquam sagittis congue tincidunt. Mauris gravida sem vitae ex facilisis feugiat. Curabitur tempus faucibus arcu eu luctus. Quisque condimentum iaculis tortor, id semper neque tincidunt vitae. Nam sed mattis magna, eu maximus tortor. Praesent ligula nulla, cursus vitae facilisis eu, laoreet eget sapien. Integer et laoreet justo. Integer sit amet massa sed nunc vulputate hendrerit. Morbi malesuada, augue eu cursus sagittis, justo mi iaculis justo, a laoreet felis ipsum ac neque. Curabitur auctor, lacus vitae tempus gravida, tortor nulla pretium nisl, sit amet fringilla enim ante et dui. Nulla tincidunt auctor egestas. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae suscipit dui, nec tristique est. Pellentesque at urna tellus.
    </p>
    <p>
    Curabitur interdum faucibus nibh sit amet semper. Duis pharetra lacinia dui sit amet pellentesque. Praesent dui justo, pulvinar ac ante mattis, rhoncus lobortis dui. Vivamus in lectus at elit eleifend tristique sed eget dui. Etiam eu viverra nunc. Donec a fermentum mauris. Mauris in ullamcorper arcu. Donec sit amet rhoncus lorem. Nulla fermentum lorem ac massa posuere venenatis. Nam imperdiet posuere velit, sed facilisis lacus imperdiet ut. Nulla sit amet urna quis leo efficitur lobortis ac eu diam. Ut a elementum orci. Suspendisse tempor vitae massa in imperdiet. Sed ullamcorper tellus ut feugiat finibus.
    </p>
    <p>
    Cras ut ligula ut dolor sollicitudin convallis non et arcu. Aliquam erat volutpat. Nunc tempor sagittis tincidunt. Pellentesque in nibh ex. Nulla sed justo nisi. Donec consequat molestie nulla et euismod. Mauris auctor dapibus congue.
    </p>
    <p>
    Suspendisse neque felis, ullamcorper sed ligula at, tempus commodo enim. Ut suscipit, sapien eget dapibus elementum, magna elit pretium turpis, vel sagittis nibh turpis congue mi. Vestibulum pretium venenatis nulla, a pellentesque enim lacinia ut. Nunc id dignissim erat. Ut eget odio euismod nisl posuere consequat a at turpis. Etiam sed enim at ex molestie molestie. Proin molestie consequat orci, in vehicula dui vulputate vitae. Suspendisse accumsan sagittis nulla ac porttitor. Nulla eget pharetra erat. Cras ipsum tellus, pretium ac sem sit amet, efficitur faucibus turpis. Pellentesque faucibus ipsum arcu. Etiam aliquet lacinia felis ac ultricies.
    </p>
    <img width="600px" height="600px" alt="карта">
    </img>
</div>

{% endblock %}
