<!DOCTYPE html>

{% load staticfiles %}
{% load account_tags %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="#">
        <script src="{% static 'js/jquery-3.2.1.js' %}" ></script>
        <script src="{% static 'js/jquery.cookie.js' %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" ></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" >
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" ></script>
        <script type="text/javascript" src="{% static 'js/lib.js' %}" ></script>
        <title> shop name</title>
        <style>
          .navbar {
          }
          .container-fluid {
            
          }
        </style>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% csrf_token %}
        <nav class="navbar navbar-default  navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/itemlist">Shop name</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li id="nav_homepage"><a href="/itemlist">Список товаров</a></li>
                {% if user.is_authenticated%}
                <li id="nav_myorders"><a href="/myorders">Мои заказы</a></li>
                {% endif %}
                <li id="nav_about"><a href="/about/#about">О магазине</a></li>
                <li id="nav_contacts"><a href="/about/#contacts">Контакты</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li id="nav_cart"><a id="cartlink" data-content="" data-html="true" data-placement="bottom" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина <span id="cartSum">0</span> p.</a></li>
                {% if not user.is_authenticated%}
                <li><a href="/account/signup"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                <li>
                    <a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> Вход </a>

                </li>
                {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {% user_display request.user %}</a>
                    <ul class="dropdown-menu">
                      <li><a style="text-align: center;" href="/account/password_change">Сменить пароль</a></li>
                      <!--<li><a style="text-align: center;" href="/myorders">Мои заказы</a></li>-->
                      <li><a style="text-align: center;" href="/account/logout">Выход <span class="glyphicon glyphicon-log-in"></span></a></li>
                    </ul>
                </li>
                <!--<li><a href="/account/logout"><span class="glyphicon glyphicon-log-in"></span> Выход </a></li>-->
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      
        <div class="content container" style="margin-top:100px;">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer class="footer">
        <div class="content">
            
        </div>
    </footer>
</html>
